*, *:before, *:after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.page {
  width: 1200px;
  margin: auto;
}

.content {
  margin: 36px;
}

.header {
  position: relative;
  height: 24px;
  width: 100%;
}

div {

}

p {
  font-family: "IBM Plex Serif Text";
  font-size: 12pt;
  line-height: 16pt;
  margin-bottom: 12px;
}

h1 {
  font-family: "IBM Plex Serif Bold";
  font-size: 24pt;
  line-height: 29pt;
  margin-bottom: 12px;
}

h2 {
  font-family: "IBM Plex Sans Semibold";
  font-size: 9pt;
  text-transform: uppercase;
  line-height: 11pt;
  margin-bottom: 6px;
}

h3 {
  font-family: "IBM Plex Mono Text";
  font-size: 10pt;
  line-height: 12pt;
}

h4 {
  font-family: "IBM Plex Mono Text";
  font-size: 8pt;
  line-height: 10pt;
}

.checkBox {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  margin-top: 3px;
  margin-right: 8px;
}

.itemDetails {
  flex-grow: 1;
}

.estTime {
  font-family: "IBM Plex Mono Text";
  font-size: 6pt;
  line-height: 18pt;
  text-align: right;
  margin-left: 8pt;
}

.list {
  float: left;
  width: 50%;
  /* height: 398pt; */
  padding-top: 8px;
}

.listItem {
  margin-bottom: 8pt;
  min-width: 100%;
  display: flex;
}

#headerDate {
  font-family: "IBM Plex Mono";
  font-weight: "Bold";
  font-size: 10pt;
  line-height: 24pt;
  position: absolute;
  left: 0;
}

#logo {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0px;
}

#Due {
  padding-right: 6px;
}

#Act {
  padding-left: 6px;
}

#Notes {
  float: left;
  margin-top: 8px;
  width: 100%;
  height: 130px;
}

@media print {

  /* .page {
    width: auto;
    height: auto;
  } */

  /* #Notes {
    position: fixed;
    bottom: 0px;
  } */
}
