*, *:before, *:after {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  width: 1200px;
  margin: auto;
  margin-top: 24px;
}

a:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid black;
}

.header {
  position: relative;
  width: 100%;
}

div {

}

p {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  font-size: 12pt;
  line-height: 16pt;
  margin-bottom: 12px;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-size: 24pt;
  line-height: 29pt;
  margin-bottom: 12px;
}

h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-size: 9pt;
  text-transform: uppercase;
  line-height: 11pt;
  margin-bottom: 6px;
}

h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 10pt;
  line-height: 12pt;
}

h4 {
  font-family: "IBM Plex Mono";
  font-style: Text;
  font-size: 8pt;
  line-height: 10pt;
}

.checkBox {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  margin-top: 3px;
  margin-right: 8px;
}

.itemDetails {
  flex-grow: 1;
}

.estTime {
  font-family: "IBM Plex Mono Text";
  font-size: 6pt;
  line-height: 18pt;
  text-align: right;
  margin-left: 8pt;
}

.list {
  float: left;
  width: 50%;
  /* height: 398pt; */
  padding-top: 8px;
}

.listItem {
  margin-bottom: 8pt;
  min-width: 100%;
  display: flex;
}

.feature-links {
  justify-content: space-between;
}

.feature-link {
  height: 80px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid gray;
}

.feature-links .first {
  padding-left: 0px;
  border-left: 0px;
}

.feature-links .last {
  padding-right: 0px;
}

.feature-link h2 {
  font-family: 'IBM Plex Serif', serif;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 12pt;
  line-height: 14.4pt;
  margin: 0px;
}

.feature-link p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 12pt;
  line-height: 14.4pt;
  color: gray;
  margin: 0px;
  orphans: 2;
  widows: 2;
}

.feature-link b {
  color: black;
}

.feature-link img {
  width: 56pt;
  height: 56pt;
  margin-right: 24px;
}

.main-story {
  padding-left: 32pt;
  margin-top: 8pt;
  margin-bottom: 8pt;
}

.main-story h2, .psalm .kappa, .reading .kappa {
  font-family: 'IBM Plex Serif', sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 24pt;
  line-height: 30pt;
  margin: 0px;
  margin-bottom: 12pt;
  orphans: 2;
  widows: 2;
}

.sidebar {
  min-width: 310px;
  padding-right: 32pt;
  border-right: 1px solid black;
  padding-top: 8pt;
  padding-bottom: 8pt;
  margin-bottom: 12pt;
}

.sidebar h2 {
  font-family: 'IBM Plex Serif', sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18pt;
  line-height: 22pt;
  margin: 0px;
  margin-bottom: 12pt;
  orphans: 2;
  widows: 2;
}

.section {
  border-bottom: 1px solid black;
    margin-bottom: 24pt;
}

.section-title h3 {
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 9pt;
  line-height: 11pt;
  letter-spacing: 0.1em;
  margin: 0px;
  margin-bottom: 12px;
}

.section-title h4 {
  font-family: 'IBM Plex Mono', monospace;
  text-transform: capitalize;
  font-weight: 300;
  font-style: italic;
  font-size: 9pt;
  line-height: 11pt;
  margin: 0px;
  margin-bottom: 12px;
}

.action, .project {
  margin-bottom: 12px;
  border-bottom: 1px solid gray;
}

.section .last {
  border-bottom: 0px;
}

.action h2, .project h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18pt;
  line-height: 22pt;
  margin: 0px;
  orphans: 2;
  widows: 2;
}

.action h3, .action h4, .project h3, .project h4 {
  font-family: 'IBM Plex Mono', monospace;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 9pt;
  line-height: 13pt;
  letter-spacing: 0.1em;
  margin: 0px;
  margin-bottom: 12px;
}

#headerDate {
  font-size: 10pt;
  line-height: 24pt;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#logo {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0px;
}

#Due {
  padding-right: 6px;
}

#Act {
  padding-left: 6px;
}

#Notes {
  float: left;
  margin-top: 8px;
  width: 100%;
  height: 130px;
}

@media screen and (max-width: 1200px) {
  body {
    width: auto;
    margin: 24px;
  }

  .feature-links img {
    display: none;
  }

  #tonightsWeather, #tonightsWeatherName {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .feature-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: auto;
  }
  .feature-link {
    border: none;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 16px;
    width: 100%;
  }
  .feature-links .first {
    padding: 16px;
  }
  .feature-links .last {
    border: none;
  }
  .feature-links img {
    display: flex;
    width: 48px;
    height: 48px;
  }
  .content {
    display: block;
  }
  .sidebar, .main-story {
    display: block;
    min-width: 100%;
    padding: 0px;
    padding: 4px;
    margin: 0px;
    border-right: none;
  }

}
