@import url("fonts/fonts.css");

* {
  box-sizing: border-box;
  line-height: 1;
  margin: 0px;
}

.hero {
  font-family: 'Garden Grove Heavy', sans-serif;
  font-weight: 900;
  background-color: #EDF2F4;
  padding: 48px;
  height: auto;
  min-height: 100vh;
  position: relative;
}

.title {
  padding-top: 20vh;
  font-size: calc(100vh * .109);
  text-align: center;
  color: #1F2A44;
  padding-left: 12px;
  padding-right: 12px;
}

.menu > a {
  font-family: 'Garden Grove Light', sans-serif;
  font-size: calc(100vh * .109 * .3);
}

.logo {
  position: absolute;
  right: 48px;
  bottom: 48px;
}

h1 {
  font-size: calc(75vh * .109);
  color: white;
  text-align: left;
  padding-bottom: calc(75vh * .109 * .75);
}

p, li {
  list-style: none;
  font-weight: 100;
  text-align: left;
  font-size: calc(100vh * .04);
  padding-bottom: 50px;
}

.twitter-follow-button {
  display: flex;
  margin: auto;
  margin-bottom: 16px;
}

.timeline-wrapper {
  display: flex;
  margin: auto;
  width: 75vw;
}

@media screen and (max-width: 1024px) {
  .logo {
    bottom: 7vh;
    right: 7vh;
    width: 32px;
    height: 32px;
  }
  h1 {
    left: 5vh;
  }
}
